
body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: rgb(232,222,212);
  font-family: -webkit-body;
}

*{
  padding: 0;
  margin:0;
}

.App {
  text-align: center;
}

.bg-image-container {
  background-image: url('/public/images/upperImage.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 405px;
  width: 100%;
  /* position: relative; */
}
.logoContainer{
  position: relative;
}
.logo{
  height: 70px;
  margin-top: -19px;
  left: -68px;
  position: absolute;
  
}

.nav-bar{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-top: 0px;
  padding: 54px;
}

.logo:hover{
  animation: seeSaw 1s 1;
  animation-timing-function: linear;
  /* animation: moveUpwards 1s 1; */
  /* animation-timing-function: ease-in-out; */
}
@keyframes seeSaw {
   0% { 
       /* transform: rotate(15deg); */
      top: 0px;
   } 
   50% { 
       /* transform: rotate(-15deg);  */
       top: -6px;
   } 
   100% { 
       /* transform: rotate(15deg);  */
       top: 0px;
   } 
}

.signUp, .logIn{
  list-style-type: none;
  /* border: 0.75px solid black; */
  border-radius: 50px;
  padding: 12px;
  width: 82px;
  height: 19px;
  text-align: center;
  font-family: -webkit-body;
  background-color: rgb(255, 233, 213);
}

.signUp:hover, .logIn:hover{
  background-color: white !important;
}

.search-bar{
  position: relative;
}

input[type=search]{
  width: 383px;
  height: 44px;
  padding: 9px 16px;
  padding-left: 42px;
  margin-right: 85px;
  border-radius: 30px;
  background-color: rgb(255, 233, 213);
  border: none;
}

.searchIcon{
  position: absolute;
  z-index: 1;
  width: 20px;
  top: 12px;
  left: 15px;
}

input[type=search]:hover{
  background-color: rgba(218, 141, 102, 0.718);
}
input[type=search]:focus{
  background-color: white;
  border: none;
}

.bg-image-container h1{
  text-align: center;
  font-size: 52px;
  margin-top: 45px;
  margin-bottom: 15px;
  font-family: -webkit-body;
} 
.divBody{
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
 
/* LETSSS COOKKK */

.animetxt{
  position: relative;
}

.divBody h1{
  font-size: 110px;
  margin: 1px;
  color: black;
  position: absolute;
  top: -134px;
  left: 250px;
}
.divBody h1:hover{
  animation: anime 2s 1;
  animation-timing-function: ease;
}

@keyframes anime {
  from {left: -200px; opacity: 0;}
  to {left: 200px; opacity: 1;}
}

.menuBar{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 44px;
  gap: 14px;
}

.welomeColor{
  color:red;
}
/* .ChooseCountry{
  border: 2px solid black;
} */

.menuBar ul{
  display: flex;
  list-style-type: none;
  /* border: 0.75px solid black; */
  border-radius: 50px;
  /* padding: 8px; */
  width: 826px;
  font-family: -webkit-body;
  background-color: white;
  margin-right: 12px;
}

.menuBar li{
  list-style-type: none;
  /* border: 2px solid black; */
  border-radius: 50px;
  padding: 16px 48px;
  font-size: 19px;
  text-align: center;
  font-family: -webkit-body;
  background-color: white;
}
.menuBar li:hover{
  background-color: rgb(219, 202, 185);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  /* border: 0.75px solid black; */
  padding: 16px 30px;
  border-radius: 50px;
  background-color: white;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(219, 202, 185);;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 194px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Count{
  text-align: left;
  margin: 28px 71px;
  color: rgb(137, 126, 126);
  font-weight: 100;
}

.ViewBookmark{
  font-size: 16px;  
  border: none;
  padding: 16px 30px;
  border-radius: 50px;
  background-color:  white;
  margin: 0;
}

.ClearBookmark{
  font-size: 16px;  
  border: none;
  padding: 16px 30px;
  border-radius: 50px;
  color: white;
  background-color: rgb(223, 18, 18);
}

.ClearBookmark:hover{
  background-color: rgb(222, 61, 61);
}

.lowerBody {
  display: flex;
  /* gap: 40px; */
  width: 100%;
  justify-content: space-around;
  margin: 44px 0px;
}
.Recipecontainer{
  display: flex;
  gap: 39px;
  flex-wrap: wrap;
  width: 52%;
  justify-content: flex-start;
}

.Recipe1 {
  display: flex;
  background-color: rgb(208 162 148);
  transition: 0.3s;
  width: 191px;
  height: 290px;
  padding: 23px;
  padding-bottom: 11px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}
.Recipe1 img{
    margin-top: -44px;
    border-radius: 17px;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgb(138 49 22 / 79%);
}
.Recipe1:hover {
  box-shadow: 0 8px 16px 0 rgb(138 49 22 / 79%);
  /* box-shadow: 0 8px 16px 0 rgba(135, 86, 2, 0.605); */
}

.RecipeDetails h4 {
  font-size: 18px;
  margin-bottom: 7px;
}
.RecipeDetails {
  /* padding: 2px 16px; */
  text-align: center;
  width: 182px;
  background-color: rgb(208 162 148);
  /* background-color: white; */
}

.line{
  color: lightgrey !important;
  margin-top: 18px;
  opacity: 0.5;
}

.CardFooter{
  display: flex;
  margin-top: 8px;
  justify-content: space-evenly !important;
  gap: 48px;
}
.CardFooter button{
  border: none;
  background-color: rgb(208 162 148)
}
.CardFooter button:focus{
  border: none;
  /* background-color: rgb(170, 102, 82) */
  /* box-shadow: 0 8px 16px 0 rgb(138 49 22 / 79%); */
}
.CardFooter img{
  width: 28px;
  height: 25px;
  margin: 0px;
  box-shadow: none;
  padding: 0px;
}

.DayWiseContainer{
  display: flex;
  gap: 40px;
  /* margin-top: 30px; */
  flex-wrap: wrap;
}

.Recipe2 {
  background-color: rgb(208 162 148);
  /* box-shadow: 0 4px 8px 0 rgba(135, 86, 2, 0.605); */
  /* height: fit-content; */
  display: flex;
  /* background-color: white; */
  width: 191px;
  min-height: 330px;
  padding: 23px;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}
.Recipe2 img{
  margin-top: -44px;
  border-radius: 17px;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgb(138 49 22 / 79%);
}
.Recipe2:hover {
  box-shadow: 0 8px 16px 0 rgb(138 49 22 / 79%);
  /* box-shadow: 0 8px 16px 0 rgba(135, 86, 2, 0.605); */
}

.Recipe2Details h4 {
  font-size: 21px;
  margin-bottom: 7px;
}
.Recipe2Details p {
  font-size: 15px;
  margin-top: 21px;
}
.Recipe2Details {
  padding: 10px 16px;
  text-align: left;
  width: 182px;
  background-color: rgb(208 162 148);
  /* background-color: white; */
}

/* WELOCME KI CSS */

.WelcomeContainer{
  display: flex;
  margin: 50px -200px;
  width: 100%;
}

.ImgComponent img{
  width: 651px;
  animation: chickpeaBowl 5s infinite;
  /* animation-timing-function: ease; */
}

/* .ImgComponent img:hover {
  animation: chickpeaBowl 5s;
} */

@keyframes chickpeaBowl {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TextComponent {
  margin-left: 154px;
  margin-top: 106px;
}
.TextComponent h1{
  font-size: 125px;
  margin: 59px;
}
.TextComponent p{
  font-size: 20px;
  margin-bottom: 15px;
}
